<nav class="bg-gray-800 p-4 w-full">
  <div class="flex justify-between items-center">
    <!-- Logo on the left -->
    <div class="text-white font-bold text-xl">
      <a href="#">Brand</a>
    </div>
    <!-- Navigation buttons on the right -->
    <div class="hidden md:flex space-x-4">
      <% if current_user %>
        <%= link_to "Dashboard", root_path, class: "text-gray-300 hover:text-white" %>
        <a href="#" class="text-gray-300 hover:text-white">About</a>
        <a href="#" class="text-gray-300 hover:text-white">Services</a>
        <%= link_to "Logout", destroy_user_session_path, data: {"turbo-method": :delete}, class: "text-gray-300 hover:text-white" %>

      <% else %>
        <%= link_to "Sign In", new_user_session_path, :class => "text-gray-300 hover:text-white" %>
      <% end %>
    </div>
  </div>
</nav>
